node_modules/
dist/
out/
release/
build/
versions/
RELEASE/

*.log

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

*.tmp
*.temp
*.bak
*.swp
~$*

*.blockmap
builder-debug.yml
builder-effective-config.yaml